body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}

.outer-container {
  background-color: purple;
  padding: 10px;
  width: 80vw;
}

.middle-container {
  background-color: blue;
  padding: 10px;
}

.inner-box {
  background-color: red;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.yellow-text {
  color: yellow;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
}
