/* TODO 1: Establecer el CSS para todas las etiquetas de párrafo a "color: red" */
p {
  color: red;
}

/* TODO 2: Establecer el CSS para todos los elementos con una clase de "note" a "font-size: 20px" */
.note {
  font-size: 20px;
}

/* TODO 3: Establecer el CSS para el elemento con un id de "id-selector-demo" a "color: green" */
#id-selector-demo {
  color: green;
}

/* TODO 4: Establecer el CSS para los elementos li que tienen el atributo "value" establecido en "4" a "color: blue" */
li[value="4"] {
  color: blue;
}

/* TODO 5: Establecer todos los elementos a "text-align: center" */
* {
  text-align: center;
}
